.wrapper {
  margin: auto;
  padding: 1rem;
  background-color: lightcoral;
  border-radius: 12px;
}

.module {
  color: black;
  background-color: #ccddff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}